<html>
  <head>
    <title>{{appName}}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <script src='https://unpkg.com/axios/dist/axios.min.js'></script>
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <link rel='stylesheet' href='/css/reset.css' />
    <link rel='stylesheet' href='/css/common.css' />
    {{#each styles as |style|}}
      <link rel='stylesheet' href='/css/{{style}}.css' />
    {{/each}}
  </head>
  <body>
    <div class='container'>
      {{{body}}}

    </div>

    <script src='/js/common.js'></script>
    {{#each scripts as |script|}}
      <script src='/js/{{script}}.js'></script>
    {{/each}}
  </body>
</html>