<header class='header'>
  <h2 id='chat-room-name'>{{chatRoomName}}</h2>
</header>

<div id='participant-list'></div>
<div class='chat-room-container'>

  <div id='chat-body'>
  </div>
  <footer class='chat-footer'>
    <input type='text' id='message-input' placeholder='메시지를 입력하세요.' />

    <div class='button-group'>
      <button id='leave-button'>
        <i class='paper-plane-icon'>leave</i>
      </button>
      <button id='send-button'>
        <i class='paper-plane-icon'>send</i>
      </button>
    </div>

  </footer>
</div>