<div class='header'> 
    <div id='signout-button' class='icon-button' aria-label='로그아웃'>
      <i class='fas fa-sign-out-alt'></i>
    </div>
        <h2>deep-step</h1>
    <div id='create-room-button' class='icon-button' aria-label='채팅방 만들기'>
      <i class='fas fa-plus'></i>
    </div> 
</div>

<main role='main'>

  <div id='chat-room-list'>

  </div>

</main>