<div class='header'>
  <div id='back-button' class='icon-button' aria-label='뒤로가기'>
    <i class='fas fa-chevron-left'></i>
  </div>
  <h2>채팅방 만들기</h2>
  <div class='placeholder'></div>
</div>

<div class='chat-room-create-container'>
  <div class='form-group'>
    <label for='chat-room-name'>방 이름 <span class='required'>*</span></label>
    <input type='text' id='chat-room-name' placeholder='채팅방 이름을 입력하세요.(20자)' required />
  </div>

  <div class='form-group'>
    <label for='chat-room-description'>방 설명</label>
    <textarea id='chat-room-description' placeholder='채팅방 설명을 입력하세요. (선택사항, 100자)'></textarea>
  </div>

  <button id='create-button'>만들기</button>
</div>