<header class='header'>
  <h2 id='chat-room-name'>{{chatRoomName}}</h2>
  <button id='toggle-sidebar' class='icon-button' aria-label='참여자 목록'>
    <i class='fas fa-bars'></i>
  </button>
</header>

<div id='participant-list'></div>
<div class='chat-room-container'>
  <div id='chat-body'>
  </div>
  <footer class='chat-footer'>
    <input type='text' id='message-input' placeholder='메시지를 입력하세요.' />
    <button id='send-button'>
      <i class='paper-plane-icon'>✈</i>
    </button>
  </footer>
</div>