<main role='main'>
  <div>
    <img class='logo' src='{{appLogo}}' />
    <h1 class='hidden'>{{appName}}</h1>
  </div>

  <div class='form-group'>
    <input type='text' id='username' placeholder='아이디' />
  </div>

  <div class='form-group'>
    <input type='password' id='password' placeholder='비밀번호' />
  </div>

  <div id='auth-buttons' class='section'>
    <button id='login-button'>로그인</button>
    <a href='/signup' class='button'>회원가입</a>
  </div>

</main>

<div class='description'>
  <span>&copy;
    {{appName}}.
    <a href='https://github.com/rolldeep-stepmerrily'>rolldeep-stepmerrily</a>'s toy project</span>
</div>