<div id='terms-section'>
  <h1>이용약관</h1>

  <div class='terms-group'>
    <input type='checkbox' id='serviceTerms' />
    <label for='serviceTerms'><span class='required'>(필수)</span> 서비스 이용 동의</label>
  </div>

  <div class='terms-group'>
    <input type='checkbox' id='privacyTerms' />
    <label for='privacyTerms'><span class='required'>(필수)</span> 개인정보 수집 동의</label>
  </div>

  <div class='terms-group'>
    <input type='checkbox' id='privacyOptionTerms' />
    <label for='privacyOptionTerms'><span class='optional'>(선택)</span> 개인정보 수집 동의</label>
  </div>

  <div class='terms-group'>
    <input type='checkbox' id='ageTerms' />
    <label for='ageTerms'><span class='required'>(필수)</span> 만 14세 이상 이용 동의</label>
  </div>

  <button id='proceed-button'>다음</button>
</div>

<div id='signup-section' class='hidden'>
  <h2>회원가입</h2>

  <div class='form-group'>
    <input type='text' id='username' placeholder='아이디' />
  </div>

  <div class='form-group'>
    <input type='password' id='password' placeholder='비밀번호' />
  </div>

  <div class='form-group'>
    <input type='password' id='confirmPassword' placeholder='비밀번호 확인' />
  </div>

  <div class='form-group'>
    <input type='email' id='email' placeholder='이메일' />
  </div>

  <div class='form-group'>
    <input type='text' id='name' placeholder='이름' />
  </div>

  <div class='form-group'>
    <input type='text' id='nickname' placeholder='닉네임' />
  </div>

  <div class='form-group'>
    <input type='tel' id='phoneNumber' placeholder='전화번호' />
  </div>

  <button id='signup-button'>회원가입</button>
</div>