#auth-buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
}

.logo {
  width: 100%;
  max-width: 400px;
}

.description {
  color: #333;
}
