.form-group,
.terms-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type='checkbox'] {
  margin-right: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.terms-group {
  display: flex;
}

.description {
  color: #d50000;
}

.header {
  justify-content: space-between;
  padding: 10px;
}

.placeholder {
  width: 20px;
}
