.form-group,
.terms-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type='checkbox'] {
  margin-right: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.terms-group {
  display: flex;
}

.description {
  text-align: center;
  margin-top: 30px;
  color: #d50000;
  font-size: 12px;
}
